/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*--------------- CSS reset end here ---------------*/
body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.1;
}

a {
    text-decoration: none;
}

header,
.welcome,
footer {
    background-color: #1f2937;
}

h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;   
}

.logo h2,
.button-holder h2 {
    color: #f9faf8;
    font-size: 24px;
    font-weight: 700;
}

header a,
.welcome p,
.button-text p,
footer {
    color: #E5E7EB;
    font-size: 18px;
}

.button-holder,
button {
    background-color: #3882f6;
}

.information h2 {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.quotes {
    background-color: #E5E7EB;
}

.quotes p {
    color: #1f2937;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
}

header,
section,
footer {
    padding: 30px 200px;
}

/*------------------*/
header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    gap: 30px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

img {
    height: auto;
    width: 30px;
}
/*-------------------*/

.welcome {
    display: flex;
    justify-content: space-between;
    padding-bottom: 80px;
}

.welcome .welcome-text {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.welcome img {
    height: auto;
    width: 450px;
    border: 5px #E5E7EB solid;
    border-radius: 5px;
    margin-bottom: 10px;
}

.welcome button {
    align-self: flex-start;
    color: #f9faf8;
    font-size: 16px;
    font-weight: 700;
    padding: 10px 30px;
    border: 0;
    border-radius: 10px;
}

.credit {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #E5E7EB;
}

.credit a {
    text-decoration: none;
    color: #3882f6;
}

/*-------------------*/
.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
    padding-left: 300px;
    padding-right: 300px;
}

.information h2 {
    margin: 30px
}

.nebula-set {
    width: 753px;
    display: flex;
    justify-content: space-between;
}

.card img {
    width: 150px;
    height: 150px;
    border: 5px solid #3882f6;
    border-radius: 10px;
    margin-bottom: 15px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.card .credit {
    color: #1f2937;
}

/*------------------------*/
.quotes {
    padding: 100px 300px;
    display: flex;
    flex-direction: column;
}

.quotes p {
    margin-bottom: 50px;
}

.quotes span {
    align-self: flex-end;
    color: #1f2937;
    font-weight: 700;
    font-size: 18px;
}

/*------------------------*/
.sign-up {
    padding: 100px 200px;
}

.button-holder {
    padding: 50px 100px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

.button-holder button {
    color: #f9faf8;
    font-size: 16px;
    font-weight: 700;
    padding: 0px 30px;
    border: 2px solid white;
    border-radius: 10px;
}

/*------------------------*/
footer {
    display: flex;
    justify-content: center;
}